<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Artifactory" value="https://artifactory.yourorg.com/artifactory/api/nuget/nuget-virtual" />
  </packageSources>
  <packageSourceCredentials>
    <Artifactory>
      <add key="Username" value="%ARTIFACTORY_USER%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_TOKEN%" />
    </Artifactory>
  </packageSourceCredentials>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
</configuration>
